<!DOCTYPE html>
@*This is the layout page that index inherits its styling and settings from. Includes bootstrap for the app as a whole*@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body class="bg-info text-center">
    @RenderBody()
</body>
</html>
