<!DOCTYPE html>
@*This is the layout page that index inherits its styling and settings from. Includes bootstrap for the app as a whole*@
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="bg-dark text-white text-center p-2">
        <span class="navbar-brand">Amazon Books</span>
    </div>
    <div class="row m-1 p-1">
        <div class="col-3">
            <h1>Books for You!</h1>
            <vc:navigation-menu /> @*Uses the View component method to pull in the navigation menu*@
        </div>    
        <div class="col-9" align="center">
            @RenderBody()
        </div>
    </div>

</body>
</html>
