@{
    ViewData["Title"] = "Amazon Books";
}

@model BookListViewModel
@*Index page. Landing page of the site that displays the site name and currently the books in the database.*@
@*Incorporates various bootstrap class stylings to give the site a more aesthetic appeal.*@
<div>
    @foreach (var x in Model.Books)
    {
        <partial name="BookSummary" model="x" />
    }
</div>

<div class="text-center">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>
</div>

